@{
    Layout = "_LayoutLogout";
}

@model TurfBooking.Models.BookingModel

@using (Html.BeginForm())
{
        <div>
            <br />
        @Html.EditorFor(model => model.ShortBookingDate, new { htmlAttributes = new { @class = "form-control input-sm" } })
        @Html.ValidationMessageFor(model => model.ShortBookingDate)
        </div>



        <div>
            <br/>

            <input class="btn btn-secondary" type="button" value="Cancel" onclick="location.href = '/Home/Index'" />
            
            <input class="btn btn-primary" type="submit" value="Book Now" />

        
        </div>

        <br />



}
