@model TurfBooking.Models.BookingModel
<h1>Name: @ViewBag.Name</h1>
<br/>
<h1>
    ID: @ViewBag.Id
</h1>
@using (Html.BeginForm())
{
    <div>
        <br />
        @Html.EditorFor(model => model.ShortBookingDate, new { htmlAttributes = new { @class = "form-control input-sm" } })
        @Html.ValidationMessageFor(model => model.ShortBookingDate)
    </div>
    
    <div>
        <input class="btn btn-primary" type="submit" value="Book Now" />
    </div>
}